@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 2fr;
}

/* navigation menu */

.nav-wrapper {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 30px;
  color: white;
  position: sticky;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid white;
}

.active-nav-link a {
  color: white !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* Drop menu */

.drop-button {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-down-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drop-down-content a:hover {
  background-color: grey;
}

.drop-down:hover .drop-down-content {
  display: block;
}

/* navigation menu name (left side) */

.creator a {
  color: white;
  text-decoration: none;
}

.creator:hover a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

/* Welcome pic */

.welcome-sign {
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
}

.sign-wrapper {
  position: relative;
}

.center-side > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

/* Item image */

.portfolio-items-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  border: 2px solid white;
  border-radius: 0.50rem;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.35rem;
  height: auto;
  width: 100%;
}

/* Item info */

.img-text-wrapper {
  display: flex;
  background-color: white;
  border-radius: 0.2rem;
}

.item-info {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.img-text-wrapper:hover {
  transition: 0.8s;
  background-color: lightgray;
}

.shoe-model {
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.shoe-price {
  color: grey;
  font-size: 22px;
}

.add-to-cart {
  padding-top: 10px;
}

.shoe-button {
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
}

/* scroll modify */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* Footer */

.footer {
  display: grid;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-right-side {
  font-family: 'Great Vibes';
}

.footer-left-side {
  display: flex;
}

.footer-wrapper > .footer-left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Store name in the Footer */

.brand-name a {
  color: white;
  text-decoration: none;
}

/* Subscribe Form stuff */

.form-wrapper {
  display: block;
  background-image: url('images/newsletter.jpg');
  background-attachment: fixed;
  text-align: center;
  cursor: cell;
}

.form-wrapper form {
  border: 3px solid white;
  border-radius: 0.25rem;
  font-family: Arial;
}

.form-top {
  font-family: monospace;
  color: white;
}

.form-content {
  color: white;
}

.form-content .name {
  color: white;
  padding-bottom: 10px;
}

.form-content .name input {
  border-radius: 0.3rem;
  border: none;
  height: 30px;
  color: black;
  padding-left: 10px;
}

.form-content .email input {
  border-radius: 0.3rem;
  border: none;
  height: 30px;
  color: black;
  padding-left: 10px;
}

.form-content .email {
  padding-bottom: 10px;
}

.form-subscribe input {
  width: 150px;
  margin: 20px auto 20px auto;
  border: none;
  background-color: green;
  border-radius: 0.5rem;
  color: white;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
} 

.form-subscribe:hover input {
  background-color: rgb(56, 148, 56);
  transition: 0.8s;
  cursor: pointer;
}

/* Contact Us Form stuff */

.contact-form {
  font-size: 30px;
  display: block;
  border: 2px solid white;
  border-radius: 0.50rem;
  height: 1000px;
  text-align: center;
  background-image: url("images/newsletter.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contact-top {
  color: white;
}

.contact-name {
  color: skyblue;
}

.contact-name label {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.contact-name input {
  height: 30px;
  border-radius: 0.4rem;
  padding-left: 5px;
}

.contact-email {
  color: skyblue;
}

.contact-email label {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.contact-email input {
  height: 30px;
  border-radius: 0.4rem;
  padding-left: 5px;
}

.contact-address {
  color: skyblue;
}

.contact-address label {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.contact-address input {
  height: 30px;
  border-radius: 0.4rem;
  padding-left: 5px;
}

.contact-message {
  color: skyblue;
}

.contact-message label {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-message textarea {
  height: 100px;
  width: 350px;
  justify-content: center;
  border-radius: 0.4rem;
  padding-left: 5px;
  resize: none;
  overflow: auto;
  font-size: 15px;
}

.contact-city {
  color: skyblue;
}

.contact-city label {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.contact-city input {
  height: 30px;
  border-radius: 0.4rem;
  padding-left: 5px;
}

.contact-postal {
  color: skyblue;
}

.contact-postal label {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
}

.contact-postal input {
  height: 30px;
  border-radius: 0.4rem;
  padding-left: 5px;
}

.contact-options {
  color: skyblue;
}

.option-top {
  padding-top: 10px;
}

.contact-submit input {
  width: 150px;
  margin: 20px auto 20px auto;
  border: none;
  background-color: skyblue;
  border-radius: 0.5rem;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

.contact-submit:hover input {
  transition: 0.3s;
  background-color: darkcyan;
}

/* Option radio buttons */

.option-order-number {
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.option-order-number input {
  height: 30px;
  border-radius: 0.4rem;
  padding-left: 5px;
}